<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pbartz.heartmonitor" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ControlActivity"
            android:label="@string/title_activity_control"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
        </activity>

        <service
            android:name=".service.BluetoothLeService"
            android:exported="false" />
        <service
            android:name=".service.RandomService"
            android:exported="false" />
        <service
            android:name=".service.PlayAudioService"
            android:exported="false" />

    </application>

</manifest>
